#card_p_0 {
    display: none;   
}

#card_p_1 {
    display: none;
}

#card_p_2 {
    display: none;   
}

#card_p_3 {
    display: none;   
}

#card_p_4 {
    display: none;   
}

#card_p_5 {
    display: none;   
}

#card_p_6 {
    display: none;   
}

#card_p_7 {
    display: none;   
}

#card_p_8 {
    display: none;   
}

#card_p_9 {
    display: none;   
}

#card_c_0 {
    display: none;   
}

#card_c_1 {
 display: none;   
}

#card_c_2 {
    display: none;   
}

#card_c_3 {
    display: none;   
}

#card_c_4 {
    display: none;   
}

#card_c_5 {
    display: none;   
}

#card_c_6 {
    display: none;   
}

#card_c_7 {
    display: none;   
}

#card_c_8 {
    display: none;   
}

#card_c_9 {
    display: none;   
}